@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter', sans-serif;
}

.font-playfair {
  font-family: 'Playfair Display', serif;
}

@keyframes scroll {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(100%);
  }
}

.animate-scroll {
  animation: scroll 1.5s ease-in-out infinite;
}

/* Smooth transition for background pattern */
@keyframes patternMove {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 50px 50px;
  }
}

.pattern-animate {
  animation: patternMove 20s linear infinite;
}